mixin make_post(item, is_detail)
	.post.animated.fadeInDown
		.post-title
			h3
				if is_detail
					a= item.title
				else
					a(href= url_for(item.path))= item.title
		if is_detail
			.post-content!= item.content
		else
			.post-content
				- var summary = item.summary || item.content
				p!= truncate(strip_html(summary), {length: 160})
		.post-footer: .meta
			.info
				i.fa.fa-sun-o
				span.date= date(item.date, 'YYYY-MM-DD')
				if theme.duoshuo || theme.disqus
					i.fa.fa-comment-o
					a(href= url_for(item.path + "#comments"))= __('Comments')
				if item.tags
					i.fa.fa-tag
					- item.categories.sort('posts').each(function(item) {
							a.tag(href=config.root + item.path, title= item.name)= item.name + " "
					- });
					- item.tags.sort('posts').each(function(item) {
							a.tag(href=config.root + item.path, title= item.name)= item.name + " "
					- });


mixin make_pager()
	- var prev = page.prev_link
	- var next = page.next_link
	.pagination
		ul.clearfix
			if page.prev
				li.pre.pagbuttons
					a.btn(role="navigation",href=url_for(prev))= __('prev')
			if page.next
				li.next.pagbuttons
					a.btn(role="navigation",href=url_for(next))= __('next')

mixin postList(hide)
	.archive
		- var year = 0;
		- var change = false;
		- var firstYear = true;
		- page.posts.each(function (item) {
			- var itemYear = date(item.date, 'YYYY') - 0;
			- var show = 1;
			- change = year !== itemYear;
			- year = change ? itemYear : year;
			if change
				if firstYear
					| <div class="listing-title">
					!= year
					| </div><ul class="listing">
					- firstYear = false;
				else
					| </ul><div class="listing-title">
					!= year
					| </div><ul class="listing">
			
			for tag in item.tags.data
				if tag.name == "hidden"
					- show = 0
					- break
			if hide && show == 0
				- return

			.listing-item
				.listing-post
					a(href= url_for(item.path), title= item.title)= item.title
					div.post-time
						span.date= date(item.date, 'MM-DD')
		- })

mixin categoryList()
	for cat in page.cats.sort('posts').data
		i.fa.fa-tag
		a.tag(href=config.root + "categories/" + cat.name, title= cat.name)= cat.name + "      "

mixin tagList()
	for tag in page.tags.sort('posts').data
		if tag.name == "hidden"
			- continue
		i.fa.fa-tag
		a.tag(href=config.root + "tags/" + tag.name, title= tag.name)= tag.name + "      "

