.page-top.animated.fadeInDown
  .nav
    li
      if is_home()
        a.current(href="/")= __('Home')					
      else
        a(href="/")= __('Home')	
    li
      if is_current('about')
        a.current(href="/about")= __('About')			
      else
        a(href="/about")= __('About')
    li
      if is_archive()
        a.current(href="/archives")= __('Archive')
      else
        a(href="/archives")= __('Archive')
    li
      if is_current('category')
        a.current(href="/category")= __('Categories') + __('Tags')					
      else
        a(href="/category")= __('Categories') + __('Tags')	
  .information
    .back_btn
      li
        if is_post()
          a.fa.fa-chevron-left(onclick="window.history.go(-1)") 
        else
          a.fa.fa-chevron-left(onclick="window.history.go(-1)",style="display:none;") 
    .avatar
      img(src=theme.avatar)
